*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

/*CSS for Header*/

header{
	height: 110vh;
	background: url(../images/island.jpeg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;

}

nav > ul{
	display: flex;
	list-style-type: none;

}

nav > ul > li {
	margin: 0 20px;
}
/*Styling for all buttons*/

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	font-weight: bold;
	background-color: gray;
	font-size: 15px;
	
	color: white;
}

.btn-coco{
	background-color: gray;
	font-size: 15px;
	
	color: white;
}

#btnCoco{
	position: absolute;
	right:	100px;
	top: 20px;
	border-color: 1px lightsalmon;
}

#btnCoco:hover{
	top: 15px;
	transition: .3s;
}

/*Disappering Menu CSS*/
.submenu{
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 150px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 45px;
	visibility: hidden;
}

#megaMenu:hover > .submenu, #megaMenu > .submenu:hover{
	visibility: visible;
}

.submenu > div{
	width: 25%;

}

.submenu > div > p:hover{
	background-color: darkgray;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.header-text > h1{
	font-size: 70px;
}
.header-text > h1, .header-text > p, .header-text > button{
	margin-left: 50px;
}

.header-text > div{
	position: relative;
}

.header-text > div > .btn{
	position: absolute;
	margin-top: 20px;
	background-color: gray;
	color: white;
	margin-left: 50px	;
}

.submenu > div	+ div {
	border-left: 1px solid lightsalmon;
}

.submenu > div >  h4, div > p{
	margin: 10px 0;
	padding: 0 10px

}
.submenu > div > p{
	margin-left: 30px;
}






.quote{
	height: 50vh;
	border-bottom: 50px;
	border-bottom: salmon;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* start of Quote CSS*/

.quote >div > div{
	text-align: center;
	margin-top: 20px;
}

.quote > div{
	width: 50%
}





/*End of Quote CSS*/


/*Start of Video CSS*/

.video{
	height: 100vh;
	display: flex;
}

.video > .img, .video > .fruit {
	width: 50%;
	margin-top: 100px;
}

.video > .img{
	width: 45%;
}

.video > .img > img{
	margin-left: 100px;
	border-radius: 5px;
}

/* Start of Fruit CSS*/


.video > .fruit{
	margin-left: 20px;
}

.video > .fruit > .create{
	height: 150px;
}

.video > .fruit > .perce{
	display: flex;
}

.video > .fruit > .perce > .left{
	height: 180px;
	width: 50%;
}

.video > .fruit > .perce > .right{
	height: 180px;
	width: 50%;
	margin-left: 10px;
}

.video > .fruit > .perce > .left > h1{
	font-size: 50px;
	margin-left: 8px;
}

.video > .fruit > .perce > .right > h1{
	font-size: 50px;
	margin-left: 8px;
}

.a{
	/*background-color: yellow;*/
	font-size: 20px;
	position: absolute;
}

.aa{
	top: 1280px;
	left: 705px;
}

.ab{
	top: 1280px;
	left: 1015px;
}

.fruit > .create{
	margin-left: 10px;
}
/* End of Fruit CSS*/


/*End of Video CSS*/
.author {
	height: 100vh;
}


/*start of Author CSS*/
.author {
	display: flex;
	flex-direction: column;
	
}

.author > .top{
	height: 100px;
	margin-top: 100px;
	text-align: center;
}

.author > .bottom{
	display: flex;
	height: 300px;
	
	margin-left: 100px;
	margin-right: 100px
}

.author > .bottom > div{
	
	width: 33%;
	border: 2px solid lightgray;
}





/* start bottom Hover*/

#bottom{
	position: relative;
}
#bottom > .aut-a, .aut-b, .aut-c{
	position: absolute;
	border-radius: 10px;
}

/*.author > #bottom > .aut-a:hover, .aut-b:hover, .aut-c:hover{
	background-color: yellow;
	bottom: 100px;
}*/

#bottom > .aut-a:hover, .aut-b:hover, .aut-c:hover{
	bottom: 2px;
	transition: .3s;
	-webkit-box-shadow: 0px 14px 21px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 14px 21px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 14px 21px -5px rgba(0,0,0,0.75);

}



/* End bottom  hover*/

.author > .bottom > .aut-a{
	margin-right: 20px;
	
}


.author > .bottom > .aut-b{
	left: 385px;

}

.author > .bottom > .aut-c{
	right: 0px;


}

.b > img{ 
	height: 70px;
	width: 70px;
	border-radius: 50%;
	position: absolute;
}

.ba > img{
	top: 160px;
	left: 160px;
}

.bb > img{
	top: 160px;
	left: 160px;
}
.bc > img{
	top: 160px;
	left: 160px;
}


.aut-a > div{
	border-top: 1px solid lightgray;
	height: 90px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aut-b > div{
	border-top: 1px solid lightgray;
	height: 90px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aut-c > div{
	border-top: 1px solid lightgray;
	height: 90px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}





/*End of Author CSS*/

/* social media css*/

/*.social-media{
	border: solid;
}
.social-media > a{
	background-color: yellow;
	color: blue;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
}

.social-media > a:hover{
	opacity: 1;
}

.social-media > a:hover, a:focus, a:active, a:visited, a:link {
	text-decoration: none;
}*/
/* end of socail media css*/